.social
{
  position: absolute;
  z-index: 10;
  bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  top: 80%; left: 10%; bottom: 0; right: 0;

      @include for-tablet-landscape-up{
        margin: 0;
        top: 80%; left: 0; bottom: 0; right: 70%;
      }
  
}
.social li
{
  list-style: none;

}
.social li a
{
  display: inline-block;
  margin-right: 20px;
  filter: invert(1);
  transform: scale(0.5);
  transition: 0.5s;

   
}
.social li a:hover
{
  transform: scale(0.5) translateY(-15px);
}

